<div class="diagnosis">
    <div class="heading"> Diagnosis</div>
    <p>Cancer screening</p>
    <div class="diagnosisContent">Diagnosing cancer at its earliest stages often provides the best chance for a cure. With this in mind, talk with your doctor about what types of cancer screening may be appropriate for you.</div><br>
    <div class="diagnosisContent">For a few cancers, studies show screening tests can save lives by diagnosing cancer early. For other cancers, screening tests are recommended only for people with increased risk.</div><br>
    <div class="diagnosisContent">A variety of medical organizations and patient-advocacy groups have recommendations and guidelines for cancer screening. Review the various guidelines with your doctor and together you can determine what's best for you based on your own risk factors
        for cancer.</div><br><br>

    <p>Cancer Diagnosis</p>
    <div class="diagnosisContent">Your doctor may use one or more approaches to diagnose cancer:</div><br>
    <ul class="diagnosisContent">
        <li><b>Physical Exam : </b> doctor may feel areas of your body for lumps that may indicate a tumor. During a physical exam, he or she may look for abnormalities, such as changes in skin color or enlargement of an organ, that may indicate the presence
            of cancer.</li><br>
        <li><b>Laboratory tests :</b>Laboratory tests, such as urine and blood tests, may help your doctor identify abnormalities that can be caused by cancer. For instance, in people with leukemia, a common blood test called complete blood count may reveal
            an unusual number or type of white blood cells.</li><br>
        <li><b>Imaging tests :</b>Imaging tests allow your doctor to examine your bones and internal organs in a noninvasive way. Imaging tests used in diagnosing cancer may include a computerized tomography (CT) scan, bone scan, magnetic resonance imaging
            (MRI), positron emission tomography (PET) scan, ultrasound and X-ray, among others.</li><br>
        <li><b>Biopsy :</b> During a biopsy, your doctor collects a sample of cells for testing in the laboratory. There are several ways of collecting a sample. Which biopsy procedure is right for you depends on your type of cancer and its location. In most
            cases, a biopsy is the only way to definitively diagnose cancer.</li><br>
        <div>In the laboratory, doctors look at cell samples under the microscope. Normal cells look uniform, with similar sizes and orderly organization. Cancer cells look less orderly, with varying sizes and without apparent organization.</div>
    </ul><br>
    <p>Cancer stages</p>
    <div class="diagnosisContent">Once cancer is diagnosed, your doctor will work to determine the extent (stage) of your cancer. Your doctor uses your cancer's stage to determine your treatment options and your chances for a cure.</div><br>
    <div class="diagnosisContent">Staging tests and procedures may include imaging tests, such as bone scans or X-rays, to see if cancer has spread to other parts of the body.</div><br>
    <div class="diagnosisContent">Cancer stages are generally indicated by Roman numerals — I through IV, with higher numerals indicating more advanced cancer. In some cases, cancer stage is indicated using letters or words.</div><br>


</div>