<div class="symptoms">
    <div class="heading">Symptoms of Breast Cancer</div>
    <div class="symptomsContent">Different people have different symptoms of breast cancer. Some people do not have any signs or symptoms at all. Some warning signs of breast cancer are—</div><br>
    <ul class="symptomsContent">
        <li>New lump in the breast or underarm (armpit).</li>
        <li>Thickening or swelling of part of the breast.</li>
        <li>Irritation or dimpling of breast skin.</li>
        <li>Redness or flaky skin in the nipple area or the breast.</li>
        <li>Pulling in of the nipple or pain in the nipple area.</li>
        <li>Nipple discharge other than breast milk, including blood.</li>
        <li>Any change in the size or the shape of the breast.</li>
        <li>Pain in any area of the breast.</li>
    </ul>
    <p class="symptomsContent">Keep in mind that these symptoms can happen with other conditions that are not cancer.</p>
    <b class="symptomsContent">If you have any signs or symptoms that worry you, be sure to see your doctor right away.</b>
    <div>
        <img src="assets/Images/symptoms1.jpg">
    </div>
</div>