<div class="tnbc">
    <div class="heading">Triple Negetive Breast Cancer</div>
    <div class="row">
        <div class="tnbcContent col-6">
            A diagnosis of triple negative breast cancer means that the three most common types of receptors known to fuel most breast cancer growth–estrogen, progesterone, and the HER-2/neu gene– are not present in the cancer tumor. This means that the breast cancer
            cells have tested negative for hormone epidermal growth factor receptor 2 (HER-2), estrogen receptors (ER), and progesterone receptors (PR).
        </div>
        <img src="assets\Images\tnbc.jpg" class="col-4 offset-sm-1">
    </div>
    <div class="tnbcContent">Since the tumor cells lack the necessary receptors, common treatments like hormone therapy and drugs that target estrogen, progesterone, and HER-2 are ineffective. Using chemotherapy to treat triple negative breast cancer is still an effective option.
        In fact, triple negative breast cancer may respond even better to chemotherapy in the earlier stages than many other forms of cancer.</div>
</div>