.faqs {
    margin: 10px 50px 100px 50px;
}

.heading {
    margin: 20px 0px;
    font-size: 50px;
    font-weight: 600;
}

.faqsContent {
    font-size: 20px;
    text-justify: auto;
}

a {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

a:hover {
    color: crimson;
}