<div class="faqs">
    <div class="heading">FAQs</div>
    <div class="faqsContent">Get answers to frequently asked questions about breast cancer. </div><br><br>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Can physical activity reduce the risk of breast cancer?
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    Exercise boosts the immune system and helps you to keep your weight in check. With as little as three hours of exercise per week, or about 30 minutes a day, a woman can begin to lower her risk of breast cancer. This doesn’t require going to a gym either.
                    Power walking is more than sufficient!
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Can a healthy diet help to prevent breast cancer?
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    A nutritious, low-fat diet (30 grams or less) with plenty of fruits and green and orange vegetables can help reduce the risk of developing breast cancer. A high-fat diet increases the risk because fat triggers estrogen production that can fuel tumor growth.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Does smoking cause breast cancer?
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Smoking is a confirmed risk factor for many types of cancer. Recent research in the last year (2012) has confirmed that smoking is a contributing risk factor for developing breast cancer. Additionally, second hand smoke is also a risk factor for cancer.
                    So if you are a smoker, help yourself in a significant way and join a smoking cessation program to help you stop. The day you stop smoking the healing can begin and each week in which you are smoke-free, you give yourself increasing
                    advantages for a healthier life. Smoking also directly contributes to heart and other lung diseases, too.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                    Can drinking alcohol increase the risk of breast cancer?
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>Moderation is key. One drink per day has been shown to slightly increase the risk of breast cancer. Having more than one drink per day has shown to be a more significant risk factor, and the alcohol content doesn’t matter: wine, beer
                        or a mixed drink. Alcohol also increases estrogen in your bloodstream. </p>
                    <p>Although we know that more than one drink per day increases risks, to date there are no studies that demonstrate directly that the more a person drinks, the greater their risk for cancer. And in some cases, drinking one glass of wine
                        a day can offer heart-health benefit. If you drink alcohol, this is an important topic to discuss with your doctor so that you will know what limits are best for you to observe. </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                    Is there a link between oral contraceptives and breast cancer?
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    There is an increased risk of breast cancer for women who have been using birth control pills for more than five years. However due to the low amount of hormones in birth control pills today, the risk is relatively small. But if a young woman has a significant
                    family history of breast cancer, her gynecologist may recommend taking a break for a year from the pill at the 5-year time frame then resuming again for another 5 years. Although evidence-based research data does not offer strong support
                    for this standard of care, it has nevertheless become an increasingly common practice.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                    How often should I do a breast self exam (BSE)?
                </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>Give yourself a breast self-exam once a month. Look for any changes in breast tissue, such as changes in size, feeling a palpable lump, dimpling or puckering of the breast, inversion of the nipple, redness or scaliness of the breast
                        skin, redness or scaliness of the nipple/areola area, or discharge of secretions from the nipple.
                    </p>
                    <p>
                        If you discover a persistent lump in your breast or any changes, it is very important that you see a physician immediately. Though 8 out of 10 lumps are benign, all require evaluation to confirm that they are not cancerous.
                    </p>
                    <p>
                        Women should perform their breast self exam 7-10 days after their menstrual period starts which is also when their breasts are the least tender and lumpy. If they are no longer menstruating, then she should select the same day of the month (first of the
                        month for example) and mark it on the calendar to remind herself when to perform this self exam. What to look for is a change from last month’s exam to this month’s exam. It is not unusual to have lumpy or bumpy breasts.
                    </p>
                    <p>
                        All women should know the geography of their own breasts. If having trouble remembering, draw a diagram of where the lumps, bumps, grooves, and other findings are felt so that this can be used as a reminder from month to month. There is no added value
                        in doing breast self exams more often than monthly. Also the findings may be different as well, in relationship to where a woman is in her menstrual cycle.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                    Is there a link between hormone replacement therapy (HRT) and breast cancer?
                </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Yes, there is. HRT was added to the carcinogenic list by the American Cancer Society in the early 2000s. It is recommended that women with known risks not be placed on HRT to control of menopausal symptoms. They should instead seek other safer alternatives.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
                    Does a family history of breast cancer put someone at a higher risk?
                </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Although women who have a family history of breast cancer are in a higher risk group, most women who have breast cancer have no family history. Statistically only 5-10% of individuals diagnosed with breast cancer have a family history of this disease.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                    Are mammograms painful?
                </a>
            </div>
            <div id="collapseNine" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Mammography does compress the breasts and can sometimes cause slight discomfort for a very brief period of time. Patients who are sensitive should schedule their mammograms a week after their menstrual cycle so that the breasts are less tender. Your doctor
                    may say it is fine to take acetaminophen an hour before the x-ray is performed to prevent discomfort too.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
                    How does menstrual and reproductive history affect breast cancer risks?
                </a>
            </div>
            <div id="collapseTen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Women who began their menstrual cycles before age 12, have no biological children, or had their first child at 30 or older, or began menopause after 55 are at a higher risk. This means that research has proven that the number of menstrual cycles a woman
                    has over time influences risk.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEleven">
                    Can breastfeeding reduce the risk of breast cancer?
                </a>
            </div>
            <div id="collapseEleven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Most women who breastfeed experience hormonal changes during lactation that delay their menstrual periods. This reduces a woman’s lifetime exposure to hormones like estrogen, which can promote breast cancer cell growth.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwelve">
                    How often should I go to my doctor for a check-up?
                </a>
            </div>
            <div id="collapseTwelve" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    You should have a physical every year which should include a clinical breast exam and pelvic exam. If any unusual symptoms or changes in your breasts occur before your scheduled visit, do not hesitate to see the doctor immediately.
                </div>
            </div>
        </div>
    </div>
</div>