<div class="treatment">
    <div class="heading">How Is Breast Cancer Treated?</div>
    <div class="treatmentContent">Breast cancer is treated in several ways. It depends on the kind of breast cancer and how far it has spread. People with breast cancer often get more than one kind of treatment.</div><br>
    <ul class="treatmentContent">
        <li><b>Surgery :</b> An operation where doctors cut out cancer tissue.</li>
        <li><b>Chemotherapy :</b> Using special medicines to shrink or kill the cancer cells. The drugs can be pills you take or medicines given in your veins, or sometimes both.</li>
        <li><b>Hormonal therapy : </b> Blocks cancer cells from getting the hormones they need to grow.</li>
        <li><b>Biological therapy : </b> Works with your body’s immune system to help it fight cancer cells or to control side effects from other cancer treatments.</li>
        <li><b>Radiation therapy : </b> Using high-energy rays (similar to X-rays) to kill the cancer cells.</li>
    </ul><br>
    <div class="treatmentContent">Doctors from different specialties often work together to treat breast cancer. Surgeons are doctors who perform operations. Medical oncologists are doctors who treat cancer with medicine. Radiation oncologists are doctors who treat cancer with radiation.</div>
    <div class="heading">Clinical Trials</div>
    <div class="treatmentContent">Clinical trials are a key testing ground for determining the effectiveness and safety of new treatments and drugs for many diseases, including cancer. As part of our commitment to providing new and innovative treatments, our doctors may recommend
        that you consider enrolling in carefully selected breast cancer clinical trials, if you meet specific criteria, to offer you access to treatment options that would otherwise be unavailable to you.</div><br>
    <div class="treatmentContent">Each patient is considered for a clinical trial on an individual basis and may qualify at any stage of disease or treatment. Talk to your doctor about whether a breast cancer clinical trial is a good option for you and ask about the risks and various
        requirements involved.</div>
</div>