<div class="dcis">
    <div class="heading">Ductal Carcinoma In Situ</div>
    <div class="row">
        <div class="dcisContent col-6">Ductal carcinoma in situ (DCIS) is a non-invasive cancer where abnormal cells have been found in the lining of the breast milk duct. The atypical cells have not spread outside of the ducts into the surrounding breast tissue. Ductal carcinoma in
            situ is very early cancer that is highly treatable, but if it’s left untreated or undetected, it can spread into the surrounding breast tissue.</div>
        <img src="assets/Images/dcis.jpg" class="col-4 offset-sm-1">
    </div>
    <div class="dcisContent"><b>What does the term, “in situ” mean?</b></div><br>
    <div class="dcisContent">The earliest stages of cancers are called “carcinoma in situ.” Carcinoma means “cancer” and in situ means “in the original place.” </div>
</div>