<div class="types">
    <div class="heading">Types</div>
    <div class="typesContent">Types of breast cancer include ductal carcinoma in situ, invasive ductal carcinoma, inflammatory breast cancer, and metastatic breast cancer.</div><br><br>
    <div class="col-10 offset-1">
        <!-- Box 1 Start -->
        <div class="typesBox">
            <div class="boxLeft col-2">MBC</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Metastatic-Breast-Cancer']">Metastatic Breast Cancer</a>
                <p>Metastatic breast cancer is also classified as Stage 4 breast cancer. The cancer has spread to other parts of the body. This usually includes the lungs, liver,...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Metastatic-Breast-Cancer']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
        <!-- Box 2 Start  -->
        <div class="typesBox">
            <div class="boxLeft col-2">DCIS</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Ductal-Carcinoma-In-Situ']">Ductal Carcinoma In Situ</a>
                <p>Ductal carcinoma in situ (DCIS) is a non-invasive cancer where abnormal cells have been found in the lining of the breast milk duct. The atypical cells have not spre...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Ductal-Carcinoma-In-Situ']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
        <!-- Box 3 start -->
        <div class="typesBox">
            <div class="boxLeft col-2">IDC</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Invasive-Ductal-Carcinoma']">Invasive Ductal Carcinoma</a>
                <p>The abnormal cancer cells that began forming in the milk ducts have spread beyond the ducts into other parts of the breast tissue. Invasive cancer cells can...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Invasive-Ductal-Carcinoma']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
        <!-- Box 4 start -->
        <div class="typesBox">
            <div class="boxLeft col-2">TNBC</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Triple-Negetive-Breast-Cancer']">Triple Negetive Breast Cancer</a>
                <p>A diagnosis of triple negative breast cancer means that the three most common types of receptors known to fuel most breast cancer growth–estrogen, progest...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Triple-Negetive-Breast-Cancer']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
        <!-- Box 5 start -->
        <div class="typesBox">
            <div class="boxLeft col-2">IBC</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Inflammatory-Breast-Cancer']">Inflammatory Breast Cancer</a>
                <p>Inflammatory breast cancer is an an aggressive and fast growing breast cancer in which cancer cells infiltrate the skin and lymph vessels of the breast. It often prod...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Inflammatory-Breast-Cancer']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
        <!-- Box 6 start -->
        <div class="typesBox">
            <div class="boxLeft col-2">BCDP</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Breast-Cancer-During-Pregnancy']">Breast Cancer During Pregnancy</a>
                <p>It is possible to be diagnosed with breast cancer during pregnancy, although it is rare and the breast cancer is not caused by the pregnancy. Women who are dia...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Breast-Cancer-During-Pregnancy']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
        <!-- Box 7 start -->
        <div class="typesBox">
            <div class="boxLeft col-2">Other</div>
            <div class="boxCenter col-8">
                <a [routerLink]="['./Other-Types']">Other Types</a>
                <p>Although by far, the most common breast cancer type is ductal carcinoma in situ (DCIS), there are other types that are less commonly seen. Medullary carci...</p>
            </div>
            <div class="boxRight col-2">
                <a [routerLink]="['./Other-Types']"><i class="fas fa-angle-right"></i></a>
            </div>
        </div><br>
    </div>
    <router-outlet></router-outlet>
</div>