<div class="overview">
    <div class="heading">What is Breast Cancer?</div>
    <div class="overviewContent">Breast cancer is cancer that forms in the cells of the breasts. After skin cancer, breast cancer is the most common cancer diagnosed in women in the United States. Breast cancer can occur in both men and women, but it's far more common in women.</div><br>
    <div class="overviewContent">Substantial support for breast cancer awareness and research funding has helped created advances in the diagnosis and treatment of breast cancer. Breast cancer survival rates have increased, and the number of deaths associated with this disease is
        steadily declining, largely due to factors such as earlier detection, a new personalized approach to treatment and a better understanding of the disease.</div><br>
    <div class="overviewContent"><b>It’s important to understand that most breast lumps are benign and not cancer (malignant).</b> Non-cancerous breast tumors are abnormal growths, but they do not spread outside of the breast. They are not life threatening, but some types of benign
        breast lumps can increase a woman's risk of getting breast cancer. Any breast lump or change needs to be checked by a health care professional to determine if it is benign or malignant (cancer) and if it might affect your future cancer risk. </div><br>
    <div class="heading">Where breast cancer starts </div>
    <p class="overviewContent">Breast cancers can start from different parts of the breast.</p>
    <ul style="font-size: 18px;">
        <li>Most breast cancers begin in the ducts that carry milk to the nipple (ductal cancers)</li>
        <li>Some start in the glands that make breast milk (lobular cancers)</li>
        <li>There are also other types of breast cancer that are less common like phyllodes tumor and angiosarcoma</li>
        <li>A small number of cancers start in other tissues in the breast. These cancers are called <b>sarcomas</b> and <b>lymphomas</b> and are not really thought of as breast cancers.</li>
    </ul>
    <p class="overviewContent ">Although many types of breast cancer can cause a lump in the breast, not all do. Many breast cancers are also found on screening mammograms, which can detect cancers at an earlier stage, often before they can be felt, and before symptoms develop</p>
    <img src="assets/Images/NormalTissueBreast.gif" height="400px" width="500px" class="offset-sm-2">

</div>