<div class="idc">
    <div class="heading">Invasive Ductal Carcinoma </div>
    <div class="row">
        <div class="idcContent col-6">
            <p>The abnormal cancer cells that began forming in the milk ducts have spread beyond the ducts into other parts of the breast tissue. Invasive cancer cells can also spread to other parts of the body. It is also sometimes called infiltrative ductal
                carcinoma.
            </p>
            <ul>
                <li>IDC is the most common type of breast cancer, making up nearly 70- 80% of all breast cancer diagnoses.</li>
                <li>IDC is also the type of breast cancer that can most commonly affects men.</li>
            </ul>
        </div>
        <img src="assets/Images/idc.jpg" class="col-4 offset-sm-1">
    </div>
</div>