<div class="other">
    <div class="heading">Other Types</div>
    <div class="otherContent">Although by far, the most common breast cancer type is ductal carcinoma in situ (DCIS), there are other types that are less commonly seen. </div>
    <p>Medullary Carcinoma</p>
    <div class="otherContent">Medullary carcinoma accounts for 3-5% of all breast cancer types. The tumor usually shows up on a mammogram, but does not always feel like a lump. At times, it feels like a spongy change of breast tissue. </div>
    <p> Tubular Carcinoma </p>
    <div class="otherContent">Making up about 2% of all breast cancer diagnosis, tubular carcinoma cells have a distinctive tubular structure when viewed under a microscope. It is usually found through a mammogram and is a collection of cells that can feel like a spongy area of
        breast tissue rather than a lump. Typically this type of breast cancer is found in women aged 50 and above and usually responds well to hormone therapy.</div>
    <p> Mucinous Carcinoma (Colloid)</p>
    <div class="otherContent">Mucinous carcinoma represents approximately 1% to 2% of all breast cancers. The main differentiating features are mucus production and cells that are poorly defined. It also has a favorable prognosis in most cases.</div>
    <p>Paget Disease Of The Breast Or Nipple</p>
    <div class="otherContent">This condition (also known as mammary Paget disease) is a rare type of cancer affecting the skin of the nipple and often the areola, which is the darker circle of skin around the nipple. Most people with Paget disease evident on the nipple also have
        one or more tumors inside the same breast; generally either ductal carcinoma in situ or invasive breast cancer (1–3). Paget disease is frequently misdiagnosed at first because the first noticeable symptoms can easily be confused with more common
        skin conditions affecting the nipple. Like all breast cancers, the prognosis for Paget disease depends on a variety of factors, including the presence or absence of invasive cancer and whether or not it has spread to nearby lymph nodes. </div>
</div>