<div class="mbc">
    <div class="heading">Metastatic Breast Cancer</div>
    <div class="row">
        <div class="mbcContent col-6">Metastatic breast cancer is also classified as Stage 4 breast cancer. The cancer has spread to other parts of the body. This usually includes the lungs, liver, bones or brain.<br> Treatment for metastatic breast cancer has two main goals: to control
            the cancer for as long as possible, with the highest quality of life possible.</div>
        <img src="assets\Images\mbc.jpg" class="col-4 offset-sm-1">
    </div>
</div>