<div class="precautions">
    <div class="heading">Precautions</div>
    <p>What can I do to reduce my risk of breast cancer?</p>
    <div class="precautionsContent">Research shows that lifestyle changes can decrease the risk of breast cancer, even in women at high risk. To lower your risk:</div><br>
    <ul class="precautionsContent">
        <li><b>Limit alcohol :</b> The more alcohol you drink, the greater your risk of developing breast cancer. The general recommendation — based on research on the effect of alcohol on breast cancer risk — is to limit yourself to less than one drink a
            day, as even small amounts increase risk.</li><br>
        <li><b>Don't smoke : </b> Evidence suggests a link between smoking and breast cancer risk, particularly in premenopausal women.</li><br>
        <li><b>Control your weight : </b> Being overweight or obese increases the risk of breast cancer. This is especially true if obesity occurs later in life, particularly after menopause.</li><br>
        <li><b>Be physically active : </b> Physical activity can help you maintain a healthy weight, which helps prevent breast cancer. Most healthy adults should aim for at least 150 minutes a week of moderate aerobic activity or 75 minutes of vigorous aerobic
            activity weekly, plus strength training at least twice a week.</li><br>
        <li><b>Breast-feed : </b> Breast-feeding might play a role in breast cancer prevention. The longer you breast-feed, the greater the protective effect.</li><br>
        <li><b>Limit dose and duration of hormone therapy : </b> Combination hormone therapy for more than three to five years increases the risk of breast cancer. If you're taking hormone therapy for menopausal symptoms, ask your doctor about other options.
            You might be able to manage your symptoms with nonhormonal therapies and medications. If you decide that the benefits of short-term hormone therapy outweigh the risks, use the lowest dose that works for you and continue to have your doctor
            monitor the length of time you're taking hormones.</li><br>
        <li><b>Avoid exposure to radiation and environmental pollution :</b> Medical-imaging methods, such as computerized tomography, use high doses of radiation. While more studies are needed, some research suggests a link between breast cancer and cumulative
            exposure to radiation over your lifetime. Reduce your exposure by having such tests only when absolutely necessary.</li><br>
    </ul>
</div>