<div class="ibc">
    <div class="heading">Inflammatory Breast Cancer</div>
    <div class="row">
        <div class="ibcContent col-6">Inflammatory breast cancer is an an aggressive and fast growing breast cancer in which cancer cells infiltrate the skin and lymph vessels of the breast. It often produces no distinct tumor or lump that can be felt and isolated within the breast.
            But when the lymph vessels become blocked by the breast cancer cells, symptoms begin to appear. </div>
        <img src="assets\Images\ibc.jpg" class="col-4 offset-sm-1">
    </div>
    <div class="heading">Symptoms of Inflammatory Breast Cancer</div>
    <img src="assets\Images\ibcsymptoms.png"><br>
    <div class="ibcContent">Early IBC symptoms may include persistent itching and the appearance of a rash or small irritation similar to an insect bite. The breast typically becomes red, swollen, and warm. The skin may appear pitted like an orange peel, and nipple changes such
        as inversion, flattening, or dimpling may occur. </div>
</div>